{% extends "main/main.html" %}
{% block title %}Agregar competencia{% endblock %}
{% block content %}
    <form class="grid-x align-center" action="/vacante/{{vacante_id}}/competencia/crear" method="POST">
    {% csrf_token %}
    
        <div class="cell medium-9 small-11">
            <div class="container">
                <h3>Añadir competencia</h3>
                <hr>
                {{competencia_form}}
                <hr><br>
                <div class="grid-x grid-margin-x">
                    <div class="cell large-6">
                        <input type="submit" class="button expanded" value="Guardar">
                    </div>
                    <div class="cell large-6">
                        <a href="/vacate/{{vacante_id}}" class="button expanded alert">Cancelar</a>
                    </div>
                </div>
                
            </div>
        </div>
    </form>
    
{% endblock %}