{% extends "main/main.html" %}
{% block title %}Modificar competencias{% endblock %}
{% block content %}
    <form class="grid-x align-center" action="/usuario/{{request.session.id}}/competencia/modificar" method="POST">
    {% csrf_token %}
    
        <div class="cell medium-9 small-11">
            <div class="container">
                <h3>Modificar competencias</h3>
                {{ competencia_formset.management_form }}
                {% for form in competencia_formset %}
                <hr>
                {{form}}                
                {% endfor %}
                <hr><br>
                <input type="submit" class="button expanded" value="Guardar">
            </div>
        </div>
    </form>
    
{% endblock %}