{% extends "main/main.html" %}
{% block title %}Registrarse{% endblock %}
{% block content %}

    <div class="grid-x align-center">
        <div class="cell large-6 medium-9 small-11 white-container" style="max-width:700px!important;">
            <h3>Registrarse</h3>
            <hr class="hr-blue">
            <p>Bienvenido a FiredUp, por favor, selecciona el tipo de cuenta que quieres crear:</p>
            <hr class="hr-blue">
            <a href="user" class="button expanded large">Soy un usuario normal</a>
            <hr>
            <a href="company" class="button expanded large">Soy una empresa</a>
            <hr>
        </div>
    </div>
    
{% endblock %}