{% extends "main/main.html" %}
{% block title %}Registrarse{% endblock %}
{% block content %}

    <div class="grid-x align-center align-middle">
        <div class="cell large-10 small-11 white-container grid-x align-center">
            <div class="grid-x grid-margin-x align-center cell align-middle">
                <div class="cell large-4">
                    <img src="images/empresa/1.png" class="user-image">
                    <br>
                </div>
                <div class="cell large-8">
                    <h3 style="text-align: left !important;">Nombre del usuario</h3>
                    <div class="user-descripcion">
                        <h5><b>Ubicación: </b>Monterrey, N.L. México</h5>
                        <h5><b>Experiencia: </b>3 años.</h5>
                        <br>
                        <h6><b>Correo electrónico: </b>yo@ejemplo.com</h6>
                        <h6><b>Teléfono: </b>+52 811 134 5671</h6>
                        <h6><b>Fecha de nacimiento: </b>08/09/1998 (20 años)</h6>
                        <h6><b>Sexo: </b>Hombre</h6>
                        <h6><b>Estado civil: </b>Soltero</h6>
                    </div>
                </div>
            </div>
            
            <div class="cell large-11">
                <hr>

                <div class="justified">
                    <h4>¿Quién soy?</h4>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                </div>
                <hr>

                <div class="user-section">
                    <h4>Educación:</h4>

                    <div class="area-container user-educacion-color">
                        <p><b>Título: </b>Ingeniero Administrador de sistemas</p>
                        <p><b>Institución: </b>Universidad Autónoma de Nuevo León</p>
                        <p><b>Tipo/Nivel: </b>Superior</p>
                        <p><b>Año: </b>2015 - 2020</p>
                        <p><b>Promedio: </b>95.3</p>
                        <br>
                        <p class="area-tag">Ingeniería</p>
                        <p class="area-tag">Computación y Tecnologías de la Información</p>
                    </div>

                    <div class="area-container user-educacion-color">
                        <p><b>Título: </b>Ingeniero Administrador de sistemas</p>
                        <p><b>Institución: </b>Universidad Autónoma de Nuevo León</p>
                        <p><b>Tipo/Nivel: </b>Superior</p>
                        <p><b>Año: </b>2015 - 2020</p>
                        <p><b>Promedio: </b>95.3</p>
                        <br>
                        <p class="area-tag">Ingeniería</p>
                        <p class="area-tag">Computación y Tecnologías de la Información</p>
                    </div>

                    <div class="center-button-div">
                        <br>
                        <input type="button" value="Mostrar todo (+2)" class="button small">
                    </div>
                </div>
                <hr>

                <div class="grid-x grid-margin-x align-center" style="text-align:left;">
                    <div class="cell large-6">
                        <h4>Habilidades:</h4>
                        <ul>
                            <li>Sed ut perspiciatis unde omnis iste nat voluptatem</li>
                            <li>Sed ut perspiciatis unde omnt voluptatem</li>
                            <li>Sed ut perspiciatis unde omnis iste natusr sit voluptatem</li>
                            <li>Sed ut perspiciatis unde omnis iste natus erro voluptatem</li>
                            <li>Sed ut perspiciatis unde omluptatem</li>
                            <li>Sed ut perspiciatis unde omnis isus error sit voluptatem</li>
                            <li>Sed ut perspiciatis unde omnis iste natus voluptatem</li>
                        </ul>
                        <br>
                    </div>
                    <div class="cell large-6">
                        <h4>Competencias:</h4>
                        <ul>
                            <li>Sed ut perspiciatis te natus error sit voluptatem</li>
                            <li>Sed ut perspiciatis unde omnis ror sit voluptatem</li>
                            <li>Sed ut perspiciatis unde omnis iste natus er sit voluptatem</li>
                            <li>Sed ut perspiciatis unde omnis iste nator sit voluptatem</li>
                            <li>Sed ut perspiciatis unde omnis itus error sit voluptatem</li>
                            <li>Sed ut perspiciatis unde omnis iste natus e sit voluptatem</li>
                            <li>Sed ut perspiciatide omnis iste natus error sit voluptatem</li>
                            <li>Sed ut perspicinde omnis iste natus error sit voluptatem</li>
                            <li>Sed ut perspiciatis unde s iste natus error sit voluptatem</li>
                            <li>Sed ut perspiciatis unde omnis iatus error sit voluptatem</li>
                            <li class="list-hidden">Sed ut piatis unde omnis iste natus error sit voluptatem</li>
                            <li class="list-hidden">Sed ut perspiciatis und sit voluptatem</li>
                        </ul>
                    </div>
                    <div class="center-button-div">
                        <br>
                        <input type="button" value="Mostrar todo (+2)" class="button small">
                    </div>
                </div>
                <hr>

                <div class="user-section">
                    <h4>Idiomas:</h4>

                    <div class="area-container user-idioma-color">
                        <p><b>Idioma: </b>Español</p>
                        <p><b>Nivel: </b>C1</p>
                    </div>

                    <div class="area-container user-idioma-color">
                        <p><b>Idioma: </b>Inglés</p>
                        <p><b>Nivel: </b>B2</p>
                    </div>

                    <div class="area-container user-idioma-color">
                        <p><b>Idioma: </b>Francés</p>
                        <p><b>Nivel: </b>A2</p>
                    </div>

                    <div class="center-button-div">
                        <br>
                        <input type="button" value="Mostrar todo (+2)" class="button small">
                    </div>
                </div>
                <hr>

                <div class="user-section">
                    <h4>Experiencia laboral:</h4>

                    <div class="area-container user-experiencia-color">
                        <p><b>Puesto: </b>Practicante de sistemas</p>
                        <p><b>Empresa: </b>Practicante de sistemas</p>
                        <p><b>Descripción: </b>cinde omnis iste natus error cinde omnis iste natus error cinde omnis iste natus error us error sit volucinde omnis iste natus error sit volucinde omnis iste natus error sit volucinde omnis iste natus error sit volu</p>
                        <p><b>Duración: </b>2 años</p>
                        <p><b>Fecha: </b>2006 - 2008</p>
                    </div>

                    <div class="area-container user-experiencia-color">
                        <p><b>Puesto: </b>Practicante de sistemas</p>
                        <p><b>Empresa: </b>Practicante de sistemas</p>
                        <p><b>Descripción: </b>cinde omnis iste natus error cinde omnis iste natus is iste natus error sit volucinde omnis iste natus error sit volucinde omnis iste natus error sit volucinde omnis iste natus error sit volu</p>
                        <p><b>Duración: </b>2 años</p>
                        <p><b>Fecha: </b>2006 - 2008</p>
                    </div>
                    
                    <div class="center-button-div">
                        <br>
                        <input type="button" value="Mostrar todo (+2)" class="button small">
                    </div>
                </div>
                <hr>

                <div class="justified">
                    <h4>Información adicional</h4>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
                </div>
                <hr>

                <div class="grid-x grid-margin-x" style="text-align:center;">
                    <div class="cell medium-6">
                        <small>Fecha de creación del perfil: 10/10/19</small>
                    </div>
                    <div class="cell medium-6">
                        <small>Fecha de la última actualización: 11/10/19</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}
